/*-- scss:defaults --*/

// lighten-color
@function lighten-color($color, $strength: 0.7) {
  @if $strength < 0 or $strength > 1 {
    @error "Strength must be between 0 and 1";
  }

  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  $red: (1 - $strength) * $red + $strength * 255;
  $green: (1 - $strength) * $green + $strength * 255;
  $blue: (1 - $strength) * $blue + $strength * 255;

  @return rgb($red, $green, $blue);
}

// darken-color
@function darken-color($color, $strength: 0.8) {
  @if $strength < 0 or $strength > 1 {
    @error "Strength must be between 0 and 1";
  }

  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  $red: $red * (1 - $strength);
  $green: $green * (1 - $strength);
  $blue: $blue * (1 - $strength);

  @return rgb($red, $green, $blue);
}

// Colours
$base-color: #43418A !default;
$lighter-color: lighten-color($base-color) !default;
$darker-color: darken-color($base-color) !default;
$text-muted: rgba($base-color, 0.5) !default;
$body-color: $darker-color !default;
$presentation-heading-color: $base-color !default;
$body-bg: $lighter-color !default;
$link-color: $base-color !default;
$dark-bg-text-color: $lighter-color !default;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,600;1,600&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:wght@400;700&display=swap');

$font-family-sans-serif: 'Noto Sans', sans-serif !default;
$presentation-heading-font: Cabin, sans-serif !default;
$font-family-monospace: 'Source Code Pro', monospace !default;
$presentation-font-size-root: 30px !default;

// Headings
$presentation-h2-font-size: 2em !default;

// Layout
$presentation-block-margin: 40px;

// Title slide
$presentation-title-slide-text-align: left;

/*-- scss:rules --*/

:root {
  --inverse: #{$base-color};
  --r-block-margin: 10px;
}

.subtitle {
  font-size: 1.5em;
}

.quarto-title-author {
  font-style: italic;
}

.callout {
  background-color: white;
}

.reveal .bluesky-embed {
  max-height: 500px;
  overflow: auto;
}
